@import "tailwindcss";

@layer base {
  html, body {
    margin: 0;
    padding: 0;
  }
  body {
    overscroll-behavior: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

@theme {
  /* Colors */
  --color-primary: #0037b0;
  --color-primary-container: #1d4ed8;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #cad3ff;
  --color-primary-fixed: #dce1ff;
  --color-primary-fixed-dim: #b7c4ff;
  --color-on-primary-fixed: #001551;
  --color-on-primary-fixed-variant: #0039b5;

  --color-secondary: #565e74;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #dae2fd;
  --color-on-secondary-container: #5c647a;
  --color-secondary-fixed: #dae2fd;
  --color-secondary-fixed-dim: #bec6e0;
  --color-on-secondary-fixed: #131b2e;
  --color-on-secondary-fixed-variant: #3f465c;

  --color-tertiary: #004f35;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #006948;
  --color-on-tertiary-container: #76eab6;
  --color-tertiary-fixed: #85f8c4;
  --color-tertiary-fixed-dim: #68dba9;
  --color-on-tertiary-fixed: #002114;
  --color-on-tertiary-fixed-variant: #005137;

  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --color-surface: #f8f9ff;
  --color-surface-bright: #f8f9ff;
  --color-surface-dim: #cbdbf5;
  --color-surface-tint: #2151da;
  --color-surface-variant: #d3e4fe;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-surface-container: #e5eeff;
  --color-surface-container-high: #dce9ff;
  --color-surface-container-highest: #d3e4fe;

  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #434655;
  --color-on-background: #0b1c30;
  --color-background: #f8f9ff;

  --color-outline: #747686;
  --color-outline-variant: #c4c5d7;

  --color-inverse-surface: #213145;
  --color-inverse-on-surface: #eaf1ff;
  --color-inverse-primary: #b7c4ff;

  /* Spacing */
  --spacing-space-2xs: 0.25rem;
  --spacing-space-xs: 0.5rem;
  --spacing-space-sm: 0.75rem;
  --spacing-space-md: 1rem;
  --spacing-space-lg: 1.5rem;
  --spacing-space-xl: 2rem;
  --spacing-space-2xl: 3rem;
  --spacing-margin-mobile: 1rem;
  --spacing-margin-desktop: 2rem;
  --spacing-gutter-mobile: 1rem;
  --spacing-gutter-desktop: 1.5rem;

  /* Border radius */
  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;

  /* Fonts */
  --font-family-display: "Plus Jakarta Sans", sans-serif;
  --font-family-headline: "Plus Jakarta Sans", sans-serif;
  --font-family-body: "Inter", sans-serif;
  --font-family-label: "Inter", sans-serif;
  --font-family-code: "Inter", monospace;
}
